*{
    margin-top: 0%;
    margin-left: 0%;
}
img{
    margin-top: 0px;
    width: 300px;
    height: 200px;
    background-color: red;
    position: relative;
    animation-name: mymove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes mymove {
    0%{left: 0px; top: 0px; }
    25%{left: 1150px; top: 0px; }
    50%{left: 1150px; top: 450px; }
    75%{left: 0px; top: 450px; }
    100%{left: 0px; top: 0px; }
}